.property1defaultIcon,
.property1variant2Icon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 35px;
  height: 33px;
}
.property1variant2Icon {
  top: 73px;
}
.property1defaultGroup,
.property1defaultParent {
  position: absolute;
  top: 5px;
  left: 10px;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet-200);
  box-sizing: border-box;
  width: 75px;
  height: 126px;
  overflow: hidden;
}
.property1defaultGroup {
  left: 114px;
}
.image55Icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image55Icon1,
.state1 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80px;
  height: 80px;
}
.image55Icon1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 100%;
  bottom: 0;
  left: -100%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.state2 {
  position: absolute;
  top: 20px;
  left: 209px;
  width: 80px;
  height: 80px;
  transform: rotate(90deg);
  transform-origin: 0 0;
}
.image55Icon2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  right: 100%;
  bottom: 100%;
  left: -100%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.state3 {
  position: absolute;
  top: 100px;
  left: 318px;
  width: 80px;
  height: 80px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
}
.image55Icon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -100%;
  right: 0;
  bottom: 100%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.state4 {
  position: absolute;
  top: 100px;
  left: 347px;
  width: 80px;
  height: 80px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.component1,
.componentSetParent {
  box-sizing: border-box;
  overflow: hidden;
}
.component1 {
  position: absolute;
  top: 16px;
  left: 218px;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-blueviolet-200);
  width: 507px;
  height: 123px;
}
.componentSetParent {
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  width: 1016px;
  height: 321px;
}
