.categoryFinals,
.groupChild {
  position: absolute;
  height: 775px;
}
.groupChild {
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 15847px;
}
.categoryFinals {
  top: 169px;
  left: 3958px;
  display: inline-block;
  width: 7675px;
}
.rectangleParent {
  position: relative;
  width: 100%;
  height: 944px;
  text-align: center;
  font-size: var(--font-size-381xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
