.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
  width: 161.02px;
  height: 47px;
}
.next {
  position: absolute;
  top: 14px;
  left: 10px;
  display: inline-block;
  width: 147.85px;
  height: 26px;
}
.rectangleParent {
  position: absolute;
  top: 591px;
  left: 1009px;
  width: 161.02px;
  height: 47px;
  cursor: pointer;
  text-align: center;
  color: var(--color-white);
}
.tutorialPage13Child,
.tutorialPage13Item {
  position: absolute;
  top: -0.61px;
  left: 67.99px;
  border-right: 1.2px solid var(--color-ghostwhite-100);
  box-sizing: border-box;
  width: 1.22px;
  height: 552.47px;
}
.tutorialPage13Item {
  top: 457.23px;
  left: 453.56px;
  border-right: 0.6px dashed var(--color-mediumslateblue-300);
  width: 0.61px;
  height: 37.98px;
}
.tutorialPage13Inner {
  position: absolute;
  top: -616.88px;
  left: 143.32px;
  width: 20.52px;
  height: 5.29px;
}
.changeWalletProvider {
  position: absolute;
  top: 90px;
  left: 104px;
  font-size: var(--font-size-5xl);
  font-weight: 800;
  font-family: var(--font-raleway);
  color: var(--color-gray-100);
  text-align: justify;
  display: inline-block;
  width: 287px;
  height: 29px;
}
.jessicaGoh,
.jessicaGohWrapper {
  position: absolute;
  width: 114px;
  height: 25px;
}
.jessicaGoh {
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.jessicaGohWrapper {
  top: 19px;
  left: 68px;
}
.image27Icon {
  top: 0;
  left: 0;
  width: 65px;
  object-fit: cover;
}
.groupParent,
.image19Icon,
.image27Icon {
  position: absolute;
  height: 63px;
}
.groupParent {
  top: 16px;
  left: 1032px;
  width: 182px;
  text-align: center;
  font-family: var(--font-mulish);
}
.image19Icon {
  top: 28px;
  left: 9px;
  width: 297px;
  object-fit: cover;
  mix-blend-mode: hard-light;
}
.groupItem {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-200);
  width: 601px;
  height: 54px;
}
.micNoneIcon,
.searchIcon {
  position: absolute;
  top: 12.94px;
  left: 9px;
  width: 48px;
  height: 38.12px;
  overflow: hidden;
}
.micNoneIcon {
  left: 553px;
}
.searchAssetsAnd {
  position: absolute;
  top: 21.68px;
  left: 61px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 422px;
  height: 20.65px;
}
.rectangleGroup {
  position: absolute;
  top: 20px;
  left: 310px;
  width: 601px;
  height: 54px;
}
.image19Parent,
.invisible {
  position: absolute;
  top: 0;
  left: 0;
  width: 1176px;
  height: 94px;
}
.image19Parent {
  top: -4px;
  left: 81px;
  font-size: var(--font-size-3xl);
  color: var(--color-darkgray);
}
.arrowIcon,
.image29Icon {
  position: absolute;
  top: 623px;
  left: 1098px;
  width: 70.49px;
  height: 57.13px;
}
.image29Icon {
  top: 148px;
  left: 161px;
  width: 330.05px;
  height: 79px;
  object-fit: cover;
}
.inUse {
  position: absolute;
  top: 169px;
  left: 513px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 107px;
  height: 48px;
}
.ellipseIcon,
.tutorialPage13Child1,
.tutorialPage13Child2 {
  position: absolute;
  top: 255px;
  left: 119px;
  width: 35px;
  height: 33px;
}
.tutorialPage13Child1,
.tutorialPage13Child2 {
  top: 170px;
}
.tutorialPage13Child2 {
  top: 432px;
}
.image50Icon,
.image51Icon,
.image52Icon {
  position: absolute;
  top: 219px;
  left: 181px;
  width: 310px;
  height: 96px;
  object-fit: cover;
}
.image51Icon,
.image52Icon {
  top: 323px;
  left: 167px;
  width: 221px;
  height: 80px;
}
.image52Icon {
  top: 403px;
  left: 184px;
  width: 284px;
  height: 84px;
}
.groupInner,
.tutorialPage13Child3 {
  position: absolute;
  top: 346px;
  left: 119px;
  width: 35px;
  height: 33px;
}
.groupInner {
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-300);
  width: 716px;
  height: 171px;
}
.clickNext {
  position: absolute;
  top: 69px;
  left: 34.23px;
  display: inline-block;
  width: 639.93px;
  height: 119.06px;
}
.rectangleContainer,
.sideBarIcon {
  position: absolute;
  top: 233px;
  left: 521px;
  width: 716px;
  height: 188.06px;
}
.sideBarIcon {
  top: 0;
  left: 0;
  width: 81px;
  height: 1229px;
}
.tutorialPage13 {
  position: relative;
  background: radial-gradient(50% 50%at 50% 50%, #f1efef, #c4c2c9 60.94%, #fff);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 100%;
  height: 747px;
  overflow: hidden;
  text-align: left;
  font-size: var(--mobile-text-large-regular-size);
  color: var(--color-black);
  font-family: var(--mobile-text-large-regular);
}
